resource "libvirt_volume" "{{ control_plane.name }}-qcow2" {
  name = "{{ control_plane.name }}.qcow2"
  pool = "default"
  source = "{{ base_image_name }}"
  format = "qcow2"
  #size = {{ control_plane.disk_size_in_gb * 1024 * 1024 * 1024 }}
}

resource "libvirt_domain" "{{ control_plane.name }}" {
  name   = "{{ control_plane.name }}"
  memory = "{{ control_plane.ram_mb }}"
  vcpu   = {{ control_plane.vcpus }}

    network_interface {
      network_name = "virbr-edunetes"
      network_id     = libvirt_network.virbr-edunetes.id
      hostname       = "{{ control_plane.name }}"
      addresses = ["{{ control_plane.ipv4 }}"]
      wait_for_lease = false
    }

    disk {
      volume_id = "${libvirt_volume.{{ control_plane.name }}-qcow2.id}"
    }

    cloudinit = "${libvirt_cloudinit_disk.commoninit.id}"

    console {
      type = "pty"
      target_type = "serial"
      target_port = "0"
    }

    console {
      type = "pty"
      target_type = "serial"
      target_port = "1"
    }

    graphics {
      type = "spice"
      listen_type = "address"
      autoport = true
    }
}
