terraform {
  backend "local" {
  }
  required_providers {
    libvirt = {
      source = "dmacvicar/libvirt"
    }
  }
}

provider "libvirt" {
  uri = "qemu:///system"
}

locals {
  cluster = yamldecode(file("${path.module}/../group_vars/all/nodes.yaml"))
}

resource "libvirt_cloudinit_disk" "commoninit" {
  name = "commoninit.iso"
  pool = "default"
  user_data = "${data.template_file.user_data.rendered}"
}

data "template_file" "user_data" {
  template = file("${path.module}/cloud_init.cfg")
}

resource "libvirt_pool" "default" {
  name = "default"
  type = "dir"
  path = "/var/lib/libvirt/images"
}

resource "libvirt_network" "virbr-edunetes" {
  name      = "virbr-edunetes"
  autostart = true
  mode      = "nat"
  domain    = "{{ network.domain_name }}"
  addresses = ["{{ network.cidr_address }}"]
  dns {
    enabled = true
    local_only = true
  }
  dhcp {
    enabled = false
  }
}
